.DS_Store
.env*.local
.pnp.js
.vercel
.yarn/install-state.gz
*.pem
*.tsbuildinfo
/.next/
/.pnp
/artifacts
/build
/cache
/coverage
/coverage.json
/ignition
/node_modules
/out/
/typechain
/typechain-types
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
